block header
	header.mdl-layout__header
		.mdl-layout-icon
		.mdl-layout__header-row
			.mdl-layout__title All I Want For
			.mdl-layout-spacer
			nav.mdl-navigation.mdl-layout--large-screen-only
				a.mdl-navigation__link(href="/alliwantfor") View gift lists
				a.mdl-navigation__link(href="/alliwantfor/lists/manage") Manage my lists
				a.mdl-navigation__link(href="/alliwantfor/gifts/manage") Manage my gifts
				a.mdl-navigation__link(href="/") www.digby.net
	.mdl-layout__drawer
		.mdl-layout__title All I Want For
		.mdl-navigation
			nav.mdl-navigation
				a.mdl-navigation__link(href="/alliwantfor") View gift lists
				a.mdl-navigation__link(href="/alliwantfor/lists/manage") Manage my lists
				a.mdl-navigation__link(href="/alliwantfor/gifts/manage") Manage my gifts
				a.mdl-navigation__link(href="/") www.digby.net
