block header
	header.mdl-layout__header
		.mdl-layout-icon
		.mdl-layout__header-row
			.mdl-layout__title All I Want For
			.mdl-layout-spacer
			nav.mdl-navigation.mdl-layout--large-screen-only
				a.mdl-navigation__link(href="/alliwantfor") Home
				a.mdl-navigation__link(href="/alliwantfor/lists") View lists
				a.mdl-navigation__link(href="/alliwantfor/lists/manage") Manage my lists
				a.mdl-navigation__link(href="/alliwantfor/gifts/manage") Manage my gifts
	.mdl-layout__drawer.mdl-color--primary
		.mdl-layout__title.mdl-color-text--white All I Want For
		nav.mdl-navigation
			a.mdl-navigation__link.mdl-color-text--white(href="/alliwantfor") Home
			a.mdl-navigation__link.mdl-color-text--white(href="/alliwantfor/lists") View lists
			a.mdl-navigation__link.mdl-color-text--white(href="/alliwantfor/lists/manage") Manage my lists
			a.mdl-navigation__link.mdl-color-text--white(href="/alliwantfor/gifts/manage") Manage my gifts
