extends ../layout

block append head
	link(rel='stylesheet', href='/css/aiwf.css')

block main
	#aiwf
		#subnav
			include ./subnav.jade
		
		#content
			h3 My lists
			ul.action
				each list in lists
					li
						a(href="alliwantfor/#{list.id}") #{list.name}
						ul
							li edit
							li delete
