extends ../layout

block main
	block subnav
		include ./subnav.jade
	
	block content
		#content
			h1 All I Want For
			ul
				each list in lists
					li
						a(href="alliwantfor/#{list.id}") #{list.name}
