extends ../layout

block append head
	link(rel='stylesheet', href='/css/aiwf.css')
	
block main
	h1 All I Want For
	table
		thead
			tr
				th Gift
				th For
		tbody
			each gift in gifts
				tr
					td= gift.name
					td= gift.owner
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js')
