extends ./layout

block append head
	link(rel="stylesheet", href="/css/aiwf.css")

block main
	#content
		h6 My lists
		.mdl-card.mdl-shadow--4dp.card-wide
			ul.action.mdl-list
				each list in lists
					li.mdl-list__item.mdl-list__item--two-line
						span.mdl-list__item-primary-content
							span
								a(href="alliwantfor/#{list.id}") #{list.name}
							span.mdl-list__item-sub-title= list.notes
								
		button.new.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.mdl-js-ripple-effect
			i.material-icons.md-light add