extends ../layout

block append head
	link(rel='stylesheet', href='/css/aiwf.css')

block main
	#aiwf
		#subnav
			include ./subnav.jade
		
		#content
			ul.action
				each gift in gifts
					li
						span= gift.name
						span= gift.owner
				script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js')
