extends ./layout

block append head
	link(rel="stylesheet", href="/css/aiwf.css")

block main
	#content
		.mdl-grid
			.mdl-cell.mdl-cell--12-col
				h2 Manage gifts
				
			.mdl-cell.mdl-cell--12-col
				table.mdl-data-table.mdl-js-data-table.mdl-shadow--4dp
					thead
						tr
							th.mdl-data-table__cell--non-numeric Name
							th Actions
					tbody
						each gift in gifts
							tr(data-mdl-data-table-selectable-value="gift-#{gift.id}")
								td.mdl-data-table__cell--non-numeric
									a(href="edit/#{gift.id}")= gift.name
									br
									span= gift.list.name
								td
									a.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored(href="delete/#{gift.id}")
										i.material-icons.md-light delete
										
			a.new.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.mdl-js-ripple-effect(href="/alliwantfor/gifts/add")
				i.material-icons.md-light add
			
block append script
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js")
	script.
		$("#members").select2({
			tags: true,
			tokenSeparators: [',', ' '],
			placeholder: 'Add members (emails)'
		});