extends ./layout

block append head
	link(rel="stylesheet", href="/css/aiwf.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css")

block main
	#content
		h5 Manage lists
		table.mdl-data-table.mdl-js-data-table.mdl-shadow--4dp
			thead
				tr
					th.mdl-data-table__cell--non-numeric Name
					th Delete
			each list in lists
				tr(data-mdl-data-table-selectable-value="list-#{list.id}")
					td.mdl-data-table__cell--non-numeric
						a(href="edit/#{list.id}")= list.name
					td
						a(href="delete/#{list.id}")
							i.material-icons.md-dark delete
									
		a.new.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.mdl-js-ripple-effect(href="/alliwantfor/lists/add")
			i.material-icons.md-light add
			
block append script
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js")
	script.
		$("#members").select2({
			tags: true,
			tokenSeparators: [',', ' '],
			placeholder: 'Add members (emails)'
		});