
<div class="row">
	<div class="col-xs-12 banner">
		<section class="panel">
			<!-- img src="images/aiwf_logo.png"/> -->
			<h1>All I Want For...</h1>
		</section>
	</div>
</div>

<!--div class="row" data-ng-hide="loggedIn">
	<div class="col-sm-4">
		<div class=""></div>
	</div>
	<div class="col-sm-4">
		<div class="panel">
			<div id="login" data-ng-hide="loggedIn">
				<google-plus-signin clientid="1001825764156-oa42aphul3dbt6m9b1c4sqh4huf2mhbb" />
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class=""></div>
	</div>
</div-->
