doctype html
html(lang="en")
	block vars
	head
		block head
			title!= 'www.digby.net' + (title ? ' – ' + title : '')
	
			meta(name='Content-Type', content='text/html; charset=UTF-8')
			meta(name='X-UA-Compatible', content='IE=edge,chrome=1')
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
	
			link(rel='stylesheet', href='/css/styles.css')
			link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:400,300,100', type='text/css')
			
			link(rel='shortcut icon', href='/images/box.png', sizes="196x196", type='image/x-icon')
			link(rel='shortcut icon', href='/images/box.png', sizes="128x128", type='image/x-icon')
			link(rel='apple-touch-icon', href='/images/box.png', sizes="128x128", type='image/x-icon')
			link(rel='apple-touch-icon-precomposed', href='/images/box.png', sizes="128x128", type='image/x-icon')

	body
		#outer
			#inner
				#header
					block header
						include header
				#main
					block main
				#footer
					block footer
						include footer
		block script
