section#nav
	h1 www.digby.net
	ul
		li
			a(href="/") home
		li projects
		if !user
			li
				a(href="/auth/google")
					img(src="/images/btn_google_signin_dark_normal_web.png" alt="login")
		else
			li
				a(href="/auth/logout" title=user.displayName) logout
		li
			a(href="https://twitter.com/digbyk" class="twitter-follow-button" data-show-count="false")
			script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		li
			iframe(src="https://ghbtns.com/github-btn.html?user=digbyk&type=follow&count=false" frameborder="0" scrolling="0" width="112px" height="20px")