<div class="row">
	<div class="col-sm-12">
		<section class="panel" data-ng-cloak>
			<h1>Others' gifts</h1>
			<table class="table">
				<thead>
					<tr>
						<th>For</th>
						<th>Gift</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr
						data-ng-repeat="gift in gifts | orderByPriority | filter: notEnteredByMe | filter: available | orderBy:'enteredBy'">
						<td>{{gift.enteredBy}}</td>
						<td><a href="{{gift.url}}">{{gift.name}}</a>
							<p>{{gift.notes}}</p></td>
						<td>
							<button data-ng-hide="boughtByMe(gift)" data-ng-click="buy(gift)" class="btn btn-primary">I bought this</button>
							<button data-ng-show="boughtByMe(gift)" data-ng-click="replace(gift)" class="btn btn-warning">No, I
								didn't</button>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</div>
