#content {
	flex: 1;
	margin: 1rem;
}
ul.action {
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 2rem;
}
ul.action li {
	border-bottom: 1px solid #ddd;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
button.new {
	position: absolute;
	right: 2rem;
	bottom: 2rem;
}
.mdl-card {
	width: auto;
	min-height: auto;
}
.mdl-list__item .mdl-list__item-secondary-content {
	flex-direction: row;
	visibility: hidden;
}
.mdl-list__item:hover .mdl-list__item-secondary-content {
	visibility: visible;
}
.mdl-list__item {
	border-bottom: 1px solid #ddd;
}