#statuses {
  list-style: none;
}
#statuses li {
  border-left: 2px #999 solid;
  position: relative;
  margin: 0 0 0 300px;
  padding-bottom: 1rem;
  margin-bottom: -24px;
}
#statuses li:before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: #fff;
  left: -0.55rem;
  top: 0.5rem;
  border-radius: 100%;
}
#statuses li h1 {
  font-size: 1.2rem;
  margin: 0.5rem 1rem;
}
#statuses li time {
  position: absolute;
  left: -300px;
  width: 280px;
  text-align: right;
  font-size: 1.2rem;
}
#statuses li p {
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 0.5rem 1rem;
  
}