html {
	height: 100%;
}
body {
	background-color: #222;
	color: #ccc;
	font: normal 1em sans-serif; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
	justify-content: center;
	align-items: center;
}
a {
	color: #ccc;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration: underline;
}
#nav {
	width: 50%;
	order: 1;
	text-align: right;
	padding: 2rem;
	border: 0px solid red;
}
#nav ul {
	padding: 0;
	spacing: 0;
	list-style-type: none;
}
#nav ul li {
	line-height: 2em;
	list-style-type: none;
}
#main {
	order: 2;
	flex-grow: 2;
}