*, *:before, *:after {
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	font-weight: 100;
}
html {
	height: 100%;
}
body {
	background-color: #222;
	color: #bbb;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	height: 100%;
	align-items: center;
	box-sizing: 0;
  	font-size: 1.4rem;
}
a {
	color: #ddd;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration: underline;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.6rem;
}
#nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	order: -2;
	padding: 0rem;
	background-color: rgba(25, 25, 25, 0.7);
	-transform-origin: center right;
	-transform: perspective( 400px ) rotateY( -20deg );
}
#nav h1 {
	padding: 0;
	margin: 0;
}
#nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#nav ul:first-child {
	justify-content: flex-start;
}
#nav ul li {
	line-height: 2em;
	list-style-type: none;
	padding: 1rem 1rem;
}
#main {
	min-height: 30rem;
	width: 100%;
	padding: 2rem 4rem;
	order: -1;
	flex-grow: 2;
	width: 100%;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	-transform-origin: center left;
	-transform: perspective( 1600px ) rotateY( 20deg );
}
#main>ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}