extends ../layout

block content
	section#main
		h1 Shop
		ul
			each product in products.data
				li
					h2= product.name
					a(href="/shop/"+product.id)
						img(src=product.images[0], width=200)
