extends ../layout

block main
	if entry
		h2!= entry.title
		p!= moment(entry.date).format('YYYY-MM-DD')
		div!= entry.content

block script
	script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")