extends ../layout
	
block main
	if blog
		ul.blog.raised
			each post in blog.posts
				li
					h2
						a(href="/blog/" + post.ID + "/" + post.slug)!= post.title
					span= moment(post.date).format('YYYY-MM-DD')

block script
	script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")