extends ../layout

block content
	section#main
		if blog
			ul.blog
				each post in blog.posts
					li
						h1
							a(href="/blog/" + post.ID + "/" + post.slug)!= post.title
						span= moment(post.date).format('YYYY-MM-DD')